@media screen and (max-width: 650px) { // NOTA

	nav#stickyNav{
		.cont{
			position: relative;

			.logo{
				width: 15%;
			}

			#hambur, #cruz{
				width: 40px;
				height: 40px;
				background-image: url("../img/sprite.svg");
				background-position: -5px bottom;
				display: inline-block;
				cursor: pointer;
			    vertical-align: middle;
			    background-size: 250%;
			}
			#cruz{
				//display: none;
				background-position: -55px bottom;
			}

			.menu{
				width: 50%;

				#manuFijo, #capacFijo, #notiFijo, #instiFijo{
					width: 60%;
					height: 35px;
				    font-size: 15px;
				    line-height: 35px;
				    display: block;
				    text-align: center;
				    padding-left: 10px;
				    margin: auto;
				    color: #438ec4;
    				border-bottom: 1px solid #438ec4;
				}

				ul#botones{
					width: 100%;
    				position: absolute;
    				top: 66px;
    				left: 0;
					//opacity: 0;

					li.bot{
						width: 100%;
						height: 35px;
					    font-size: 15px;
					    display: block;
					    text-align: center;
					    padding-left: 10px;

					    a{
					    	line-height: 35px;
					    }
					}
				}
			}

			#redes{
				width: 17%;
				ul{
					text-align: left;
					height: 25px;
					li.red{
						.fac, .twi{
							width: 25px;
					   	 	height: 25px;
    						background-size: 260%;
						}
						.fac{
							background-position: -3px 0px;
							
							&:hover{
								background-position: -3px 25px;
							}
						}

						.twi{
							background-position: -36px 0px;
							
							&:hover{
								background-position: -36px 25px;
							}
						}
					}
				}
			}

			#selSecc{
				display: none;
			}
		}
		#menuInsti{
			ul#botonesMenuInsti{
				top: 26px;
			}
		}
	}
	.container{
		#conteNoti #contenedor, #conteNoti #destacados, #conteManual, #conteCapaci, #destaCapac, #notiCapac{
			.noti, .capac{
				width: 95%;
				display: block;

				&.destacado{
					width: 100%;
					
					h2.titu{
					    background-color: #438ec4;
					    color: #fff;
					    padding: 5px;
					}
				}
			}
			.capac{
				&.destacado{
					.foto{
						width: 95%;
						margin: auto;
						height: 250px;
						display: block;
					}
					.capacTex{
						width: 95%;
						margin: 15px auto;
						display: block;
					}
				}

				h2.titu{
					font-size: 23px;
					line-height: 25px;
				}
			}
		}
		#conteNoti #contenedor{
			width: 95%;
		}

		#conteNoti #conteManual{
			iframe, img{
				width: 97%;
				margin: 50px 1%;
			}
		}
	}

	footer{
		.links{
			a.botFoo{
				font-size: 12px;
				line-height: 12px;
				width: calc(28% - 10px);
			}
		}
	}
	    

} // end NOTA


@media screen and (max-width: 500px) { // iphone 6

	nav#stickyNav{
		.cont{
			.logo{
				width: 18%;
			}
			.menu{
				width: 46%;
			}
		}
	}

} // end iphone 6


@media screen and (max-width: 414px) { // iphone 6 plus portrait

	nav#stickyNav{
		.cont{
			.logo{
				width: 25%;
			}

			.menu{
				width: 42%;
				
				#manuFijo, #capacFijo, #notiFijo{
					width: 80%;
					font-size: 14px;
					padding-left: 0;
					//text-align: left;
				}
			}
			
			#redes{
				width: 12%;
				margin-top: -20px;
			}
		}
	}

	.container{
		#conteNoti #contenedor, #conteNoti #destacados, #conteManual, #conteCapaci, #destaCapac, #notiCapac{
			.noti, .capac{
				&.destacado{
					h2.titu{
					    font-size: 24px;
					    line-height: 27px;
					    margin: 10px auto;
					}
				}
				.info{
					p{
						font-size: 13px;
						line-height: 26px;

						&.fecha{
							height: 25px;
						}
						&.etiqueta{
							width: 125px;
							height: 25px;
						}
					}
				}

				.notiTex, .capacTex{
					.tex{
						line-height: 20px;
						font-size: 15px;
					}
				}
			}
		}
		#contenedor{
			width: 95%;
		}
	}

} // end iphone 6 plus


@media screen and (max-width: 320px) { // iphone 5

} // end iphone 5

