/* Styles for App */
@import "variables";

body{
	margin: auto;
	border: none;
}

*{
	font-family: 'Arial', sans-serif !important;
	letter-spacing: 0px !important;
}

h4{
	font-family: 'Arial', sans-serif !important;
	font-size: 20px;
	margin: 10px auto;
}

.seVe{
	display: inline-block;
	transition: all .2s linear;
}

.noSeVe{
	display: none;
	transition: all .2s linear;
}

.opacityCero{
	opacity: 0;
	display: inline-block;
	transition: all .2s linear;
}
.opacityUno{
	opacity: 1;
	display: inline-block;
	transition: all .2s linear;
}

select{
	display: none;
}

.alink{
	text-decoration: none;
	color: #438ec4;
	font-weight: 500;
	font-size: 15px;
}

nav#stickyNav{
	position: -webkit-sticky;
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    padding: 5px 0;
    pointer-events: all;
    //height: 0;
    opacity: 1;
    transition: opacity .3s;
	width: 100%;
	//max-width: 1260px;
	height: 100px;
	margin: auto;
	//margin-top: -101px;
	//padding: 5px 0;
	text-align: center;
	//position: fixed;
	background-color: #fff;
	z-index: 1000;

	&.sticky {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 100;
		height: 60px;
		padding-top: 10px;
		border-bottom: 1px solid #000;
	}

	.cont{
		max-width: 1260px;
		margin: auto;

		#selSecc{
			display: inline-block;
			width: 17%;
		}
		
		.logo{
			width: 10%;
			display: inline-block;
			vertical-align: middle;
			text-align: left;

			img{
				width: 80px;		
			}
		}

		p{
			width: 5%;
			display: inline-block;
			font-weight: 100;
			font-size: 15px;
			text-align: right;
			color: #000;
			margin: auto;
		}

		ul{
			height: 30px;
			display: inline-block;
			text-align: center;
			margin: auto;
			padding: 0;
			vertical-align: middle;
		}
		
		.menu{
			display: inline-block;
			width: 62%;

			ul#botones{
				width: 100%;
				
				li.bot{
					width: calc(25% - 10px);
					height: 30px;
					font-weight: 400;
					font-size: 15px;
					//color: #438ec4;
					//color: #000;
					list-style: none;
					display: inline-block;
					//padding: 7px 0;
					background-color: #fff;
					margin: auto;
					text-align: center;
					cursor: pointer;
					vertical-align: middle;

					a{
						color: #000;
						height: 20px;
						text-decoration: none;
						line-height: 30px;

						&:link, &:visited{
							color: #000;
						}

						&:hover{
							color: #438ec4;
						}

						&.comision{
							font-size: 14px;
							letter-spacing: -0.5px;
						}
					}

					&.active{
						color: #fff;
						background-color: #438ec4;

						a{
							color: #fff;

							&:link, &:visited{
								color: #fff;
							}

							&:hover{
								color: #fff;
							}
						}
					}

					&#institucional{
						#menuInsti{
							width: 100%;
							max-width: 1260px;
							display: block;
							position: relative;
							margin: auto;

							ul#botonesMenuInsti{
								width: 100%;
								position: absolute;
								top: 0px;
								left: 0px;

								li.bot{
									width: 100%;
									height: 30px;
									font-weight: 400;
									font-size: 15px;
									line-height: 30px;
									list-style: none;
									display: inline-block;
									background-color: #fff;
									margin: auto;
									text-align: center;
									cursor: pointer;
									vertical-align: middle;

									a{
										color: #000;
										height: 20px;
										text-decoration: none;
										line-height: 30px;

										&:link, &:visited{
											color: #000;
										}

										&:hover{
											color: #438ec4;
										}
									}

									&.active{
										color: #fff;
										background-color: #438ec4;

										a{
											color: #fff;

											&:link, &:visited{
												color: #fff;
											}

											&:hover{
												color: #fff;
											}
										}
									}
								}
							}
						}
					}
				}	
			}
		}

		// #hambur, #cruz{
		// 	display:none;
		// }

		#redes{
			width: 15%;
			display: inline-block;
			vertical-align: middle;

			ul{
				width: 100%;
				text-align: right;

				li.red{
					margin-left: 5px;
					display: inline-block;

					.fac, .twi{
						width: 40px;
						height: 30px;
						background-image: url('../img/red.svg');
						display: inline-block;
						vertical-align: middle;
					}

					.fac{
						background-position: top left;
						
						&:hover{
							background-position: bottom left;
						}
					}

					.twi{
						background-position: top right;
						
						&:hover{
							background-position: bottom right;
						}
					}
					
				}
			}
		}
	}

	
}

.container{

	max-width: 1260px;

	#tree{
		width: 91%;
	    max-width: 1260px;
	    padding: 10px 20px;
	    font-size: 12px;
	    margin: 20px auto;
	    span{
	    	margin: auto 10px;
	    }
	}


	#conteNoti #contenedor, #conteNoti #destacados, #conteManual, #conteCapaci, #destaCapac, #notiCapac, #conteComision{

		width: 100%;
		max-width: 1260px;
		margin: auto;
		margin-top: 50px;
		transition: all .5s ease-in;

		.noti, .capac{

			width: 46%;
			margin: 30px 2%;
			padding-bottom: 25px;
			display: inline-block;
			vertical-align: top;
			border-bottom: 1px solid #dadada;

			&.destacado{
				width: 100%;
				display: block;
				margin: auto;
			}

			&.destacaChico{
				border: 1px solid #000;
			}

			h2.titu{
				font-size: 28px;
				color: #438ec4;
				margin: 20px auto;
				text-align: left;
				padding: 0;
			}

			h3.baja{
				font-size: 18px;
				color: #999;
				margin: 0 auto 20px;
				text-align: left;
				padding: 0;
			}

			.foto{
				width: 99%;
				margin: auto;
				height: 350px;
				border: 1px solid #dadada;
				background-size: 105%;
				background-position: center;
				background-repeat: no-repeat;

				&.SATE-flyer_asamblea2020{
					background-position: top;
				}
			}

			.info{
				width: 95%;
				height: 30px;
				margin: 10px auto;
				position: relative;

				p{
					font-weight: 400;
					font-size: 15px;
					line-height: 29px;
					display: inline-block;
					position: absolute;
					
					&.fecha{
						height: 30px;
						left: 0;
						color: #aaa;
					}

					&.etiqueta{
						width: 150px;
						height: 30px;
						text-align: center;
						text-transform: uppercase;
						color: #000;
						right: 0;
						border: 1px solid #000;
						cursor: pointer;
					}
				}

			}

			.notiTex, .capacTex{
				width: 95%;
				margin: 20px auto;
				text-align: left;

				.tex{
					width: 100%;
					font-weight: 400;
					line-height: 22px;
				    font-size: 16px;
					color: #000;

					&.firma{
						color: #aaa;
					}
				}
			}
			
		}
		h2{
			color: #000;
			text-align: left;

		}

		.capac{
			width: calc(30% - 5px);
			margin: 30px 1%;

			.foto{
				background-size: 135%;
			}

			&.destacado{
				margin: 50px auto;

				h2.titu{
					font-size: 28px;
					line-height: 32px;
				}

				.foto{
					width: 46%;
					margin: auto 1%;
					height: 500px;
					background-size: 100%;
					border: none;
					background-repeat: no-repeat;
					background-position: center top;
					display: inline-block;
					vertical-align: top;
				}
				.capacTex{
					width: 46%;
					margin: auto 1%;
					text-align: left;
					display: inline-block;
					vertical-align: top;
				}
			}

			h2.titu{
				color: #438ec4;
				min-height: 80px;
				margin-bottom: 0;
				font-size: 25px;
				line-height: 27px;
			}

			p.lugar{
				margin-top: 0;
			}

			.etiqCapac{
				width: 120px;
				height: 25px;
			    font-size: 13px;
			    line-height: 25px;
				text-align: center;
				text-transform: uppercase;
				color: #a9a9a9;
				border: 1px solid #a9a9a9;
			}

			.infoCapac{

				p.lugar, p.fechaCapac{
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					text-align: left;
					margin: auto;
					text-transform: uppercase;
				}

				p.fechaCapac{
					margin-bottom: 15px;
				}
				
			}
			
			.foto{
				background-position: center;
			}

		}

		
	}
	#destacados, #conteManual, #destaCapac, #notiCapac{
		width: 95%;
		transition: all .5s ease-in;
		text-align: center;

		.noti{
			.foto, h3.baja, h2.titu{
				width: 95%;
			}
		}
	}

	#conteInsti{
		display: none;
		width: 1100px !important;
		transition: all .5s ease-in;
		height: auto !important;
		margin: auto;

		.comi{

			.etiqCapac{
					width: 120px;
					height: 25px;
				    font-size: 13px;
				    line-height: 25px;
					text-align: center;
					text-transform: uppercase;
					color: #a9a9a9;
					border: 1px solid #a9a9a9;
				}

			.persona{
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				text-align: left;
				margin: auto;

				span{
					font-weight: 700;
				}
				br{
					display: none;
				}
			}
		}
	}

	#conteManual{
		display: none;
		width: 95%;
		//height: 1000px;
		background-color: #fff;
		transition: all .5s ease-in;

		iframe{
			margin: 50px 8%;
		}

		img{
			width: 80%;
			margin: 50px 8%;
		}
	}

	#conteCapaci{
		width: 95%;
		display: none;
		transition: all .5s ease-in;
	}
	#conteInsti{
		display: none;
		height: 1000px;
		transition: all .5s ease-in;
	}
}

.remarca, span.remarca{
	font-weight: 600;
}

footer{
	width: 100%;
	height: 120px;
	background-color: #438ec4;
	text-align: center;
	margin: 50px auto 0;
		//position: relative;

	.links{
		max-width: 1260px;
		margin: auto;
			//position: absolute;
			//top: 10px;


		a.botFoo{
			font-size: 12px;
			line-height: 24px;
			color: #fff;
			text-decoration: none;
			border-bottom: 1px solid #438ec4;
			display: inline-block;
			margin: 10px 2%;
			width: calc(9% - 5px);

			&:hover{
				border-bottom: 1px solid #fff;
			}
		}
	}
		// .redes{
		// 	width: 15%;
		// 	display: inline-block;
		// 	vertical-align: middle;

			ul.redes{
				width: 100%;
				text-align: center;

				li.red{
					margin-left: 5px;
					display: inline-block;
					height: 55px;
					vertical-align: middle;

					.fiscal{
						vertical-align: top;

						img{
							height: 55px;
						}
					}
					.fac, .twi{
						width: 40px;
						height: 30px;
						background-image: url('../img/red.svg');
						display: inline-block;
						vertical-align: middle;
					}

					.fac{
						background-position: top left;
						
						&:hover{
							background-position: bottom left;
						}
					}

					.twi{
						background-position: top right;
						
						&:hover{
							background-position: bottom right;
						}
					}
					
				}
			}
		//}
}


#sindica{
	color: red;
	background-color: #fff;
	border: 1px solid red;
	
	&:active{
		color: #fff;
		background-color: red;
	}
}


#afilia{
	color: blue;
	background-color: #fff;
	border: 1px solid blue;
	
	&:active{
		color: #fff;
		background-color: blue;
	}
}


#afiliad{
	color: green;
	background-color: #fff;
	border: 1px solid green;
	
	&:active{
		color: #fff;
		background-color: green;
	}
}


#histor{
	color: yellow;
	background-color: #fff;
	border: 1px solid yellow;
	
	&:active{
		color: #fff;
		background-color: yellow;
	}
}


#notici{
	color: orange;
	background-color: #fff;
	border: 1px solid orange;
	
	&:active{
		color: #fff;
		background-color: orange;
	}
}

#capacitaci{
	color: pink;
	background-color: #fff;
	border: 1px solid pink;
	
	&:active{
		color: #fff;
		background-color: pink;
	}
}


#gremial{
	color: brown;
	background-color: #fff;
	border: 1px solid brown;
	
	&:active{
		color: #fff;
		background-color: brown;
	}
}

#mesas{
	color: green;
	background-color: #fff;
	border: 1px solid green;
	
	&:active{
		color: #fff;
		background-color: green;
	}
}

#delegacion{
	color: grey;
	background-color: #fff;
	border: 1px solid grey;
	
	&:active{
		color: #fff;
		background-color: grey;
	}
}


#ergonom{
	color: light-blue;
	background-color: #fff;
	border: 1px solid light-blue;
	
	&:active{
		color: #fff;
		background-color: light-blue;
	}
}


#segurid{
	color: blue;
	background-color: #fff;
	border: 1px solid blue;
	
	&:active{
		color: #fff;
		background-color: blue;
	}
}



.texD{
	width: 50%;
}



.fotoD{
	width: 50%;
	margin: auto;
}

////////// BOTON CUOTA SOCIAL ///////////

.boton-todopago-css .aviso-wrapper {
	width:287;
  }
  .backCol{
	  background-color: #FFF;
  }
  .aviso-data{
	  display: inline-block;
  }
  span{
	  color: #000;
  }
  
  .boton-todopago-css .aviso-light {
	color: #ACACAC;
  }
  .boton-todopago-css .aviso {
	font-size: 16px;
	margin-bottom: 15px;
  }
  @media (min-width: 992px) {
	  .boton-todopago-css .col-md-4 {
		  width: 33.33333333%;
		  float: left;
	  }
  }
  
  @media (min-width: 768px) {
	  .boton-todopago-css .col-sm-4 {
		  width: 33.33333333%;
		  float: left;
	  } 
  }
  .boton-todopago-css .col-sm-4, .boton-todopago-css .col-md-4 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
  }
  .boton-todopago-css * {
	box-sizing: border-box;
  }
  .boton-todopago-css user agent stylesheetdiv {
	display: block;
  }
  .boton-todopago-css .aviso-imagen {
	width: 80px;
  }
  .boton-todopago-css .btn.disabled, .boton-todopago-css .btn[disabled], .boton-todopago-css fieldset[disabled] .btn {
	cursor: not-allowed;
	pointer-events: none;
	opacity: .65;
	filter: alpha(opacity=65);
	box-shadow: none;
	color: #fff;
	background-color: rgb(0, 188, 220);
	border: 1px solid rgb(0, 188, 220);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
  }
  .boton-todopago-css .btn:hover{
	  color: rgb(0, 188, 220);
	  background-color: #FFF;
  }
  .boton-todopago-css {
	color: #000;
	background-color: #fff;
	font-family: 'Cabin',sans-serif;
	font-weight: 100;
	font-size: 100%;
	width: fit-content;
	display: inline-block;
  }
  #aviso-3{
	  width: 100%;
  }
  .boton-todopago-css .aviso-image-wrapper {
	display: inline-block;
	width: fit-content;
  }
  .boton-todopago-css .tipo-boton-class {
	display: block;
  }
  .boton-todopago-css .aviso-light .aviso-wrapper {
	background-color: #F9F9F9;
	border: 1px solid #f1f1f1;
  }
  .boton-todopago-css .aviso-large .aviso-wrapper, .boton-todopago-css .aviso-small .aviso-wrapper {
	padding-top: 5px;
	padding-bottom: 5px;
  }
  @media (min-width: 992px) {
  .boton-todopago-css .col-md-12 {
	width: 100%;
	float: left;
  } }
  
  @media (min-width: 768px) {
  .boton-todopago-css .col-sm-12 {
	width: 100%;
	float: left;
  }}
  
  .boton-todopago-css .col-xs-12, .boton-todopago-css .col-sm-12, .boton-todopago-css .col-md-12, .boton-todopago-css .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
  }
  
  .boton-todopago-css section {
	font-size: 10px;
  }
  .boton-todopago-css body {
	color: #808080;
	background-color: #FDFDFD;
	font-family: 'Cabin',sans-serif;
	font-weight: 100;
	font-size: 100%;
  }
  body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
  }
  .boton-todopago-css .aviso-light .aviso-image-wrapper {
	border-color: #fff;
	display: inline-block;
  }
  .boton-todopago-css .aviso-large .aviso-image-wrapper {
	  border: 4px solid;
	  margin-bottom: 10px;
	  display: inline-block;
  }
  .boton-todopago-css * {
	box-sizing: border-box;
  }
  .boton-todopago-css .aviso-light {
	color: #ACACAC;
  }
  .boton-todopago-css .aviso {
	font-size: 16px;
	margin-bottom: 15px;
  }
  .boton-todopago-css section {
	font-size: 10px;
  }
  
  @media (min-width: 992px) {
  .boton-todopago-css .col-md-7 {
	width: 58.33333333%;
	float: left;
  }}
  
  @media (min-width: 768px){
  .boton-todopago-css .col-sm-8 {
	width: 66.66666667%;
	float: left;
  }}
  
  .boton-todopago-css .col-md-7, .boton-todopago-css .col-sm-8, .boton-todopago-css .col-xs-12 {
	position: relative;
	min-height: 1px;
	padding-left: 5px;
	padding-right: 5px;
  }
  
  @media (min-width: 992px){
  .boton-todopago-css .col-md-5 {
	width: 41.66666667%;
	float: left;
  }}
  
  .boton-todopago-css .col-md-5 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
  }
  
  .boton-todopago-css .aviso-price-label, .boton-todopago-css .aviso-small .aviso-price-label {
	font-size: 0.7em;
  }
  .boton-todopago-css .line {
	display: block;
  }
  .boton-todopago-css .text-center {
	text-align: center;
  }
  
  .boton-todopago-css .aviso-light .aviso-price {
	color: #e6007e;
  }
  .boton-todopago-css .aviso-large .aviso-price, .boton-todopago-css .aviso-small .aviso-price {
	font-size: 1em;
	font-weight: 700;
  }
  
  .boton-todopago-css .aviso-boton-texto {
	border: 1px solid;
  }
  .aviso-boton-texto .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	cursor: not-allowed;
	pointer-events: none;
	opacity: .65;
	filter: alpha(opacity=65);
	box-shadow: none;
  }
  .boton-todopago-css .aviso-boton-texto {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	margin-top: 5px;
  }
  .boton-todopago-css .btn {
	font-size: 16px;
	padding-left: 40px;
	padding-right: 40px;
	border: none;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  .boton-todopago-css input {
	line-height: normal;
	background-color: #000;
	color: #fff;
  }
  .boton-todopago-css button {
	color: inherit;
	font: inherit;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	font: inherit;
	margin: 0;
  }
  
  .boton-todopago-css .aviso-large .aviso-title {
	font-size: 1em;
	font-weight: bold;
	line-height: 2em;
  }
  
  .boton-todopago-css .aviso-large .aviso-description {
	font-size: 0.7em;
	line-height: 1.5em;
  }
  
  .boton-todopago-css .aviso-dark {
	color: #FFF;
  }
  .boton-todopago-css .aviso-dark .aviso-wrapper {
	  background-color: #fff;
	  border: 1px solid #808080;
	  border-radius: 10px;
  }
  .boton-todopago-css .aviso-dark .aviso-image-wrapper{
	  border-color:#fff;
	  display: inline-block;
  }
  .boton-todopago-css .aviso-dark button{
	  background-color: #FFF;
	  color:#e6007e;
  }
  
  .boton-todopago-css .aviso-small .aviso-wrapper {
	padding-top: 15px;
	padding-bottom: 15px;
  }
  .boton-todopago-css .aviso-small .aviso-image-wrapper {
	border:4px solid;
	display: inline-block;
  }
  .boton-todopago-css .aviso-small .aviso-price-label {
	font-size: 0.7em;
  }
  .boton-todopago-css .aviso-small .aviso-price {
	font-size: 1em;
	font-weight: 700;
  }
  .boton-todopago-css .aviso-small .aviso-description {
	font-size: 0.7em;
	line-height: 1.5em;
  
  }
  .boton-todopago-css .aviso-small button {
	font-size: 0.7em;
	padding: 5px;
	line-height: 0.9em;
	display: block;
	margin: 5px auto;
	width: 90%;
  }
  
  .boton-todopago-css .aviso-light .aviso-image-wrapper {
	border-color: #fff;
	display: inline-block;
  }
  
  .boton-todopago-css .aviso-dark .aviso-image-wrapper {
	  border-color: #fff;
	  display: inline-block;
  }
  
  @media (min-width: 992px){
	  .boton-todopago-css .col-md-4 {
		  width: 33.33333333%;
		  float: left;
	  }
  }
  
  @media (min-width: 768px){
	  .boton-todopago-css .col-sm-4 {
		  width: 33.33333333%;
		  float: left;
	  }
  }
  
  @media (min-width: 992px){
	  .boton-todopago-css .col-md-6 {
		  width: 50%;
		  float: left;
	  }
  }
  
  @media (min-width: 768px){
	  .boton-todopago-css .col-sm-6 {
		  width: 50%;
		  float: left;
	  }
  }
  
  .padding-left-5 {
	  padding-left: 5px !important;
  }
  .padding-right-5 {
	  padding-right: 5px !important;
  }
  .padding-left-15 {
	  padding-left: 15px !important;
  }
  
  @media print{
	  .no-print, .no-print * {
		  display: none !important;
	  }
  }
  

  /////// FIN BOTON CUOTA SOCIAL ///////////