/* Styles for App */
@import "variables";

body{
	margin: auto;
	border: none;
}

*{
	font-family: 'Arial', sans-serif !important;
	letter-spacing: 0px !important;
}

.seVe{
	display: inline-block;
	transition: all .2s linear;
}

.noSeVe{
	display: none;
	transition: all .2s linear;
}

.opacityCero{
	opacity: 0;
	display: inline-block;
	transition: all .2s linear;
}
.opacityUno{
	opacity: 1;
	display: inline-block;
	transition: all .2s linear;
}

select{
	display: none;
}

.alink{
	text-decoration: none;
	color: #438ec4;
	font-weight: 500;
	font-size: 15px;
}

nav#stickyNav{
	position: -webkit-sticky;
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    padding: 5px 0;
    pointer-events: all;
    //height: 0;
    opacity: 1;
    transition: opacity .3s;
	width: 100%;
	//max-width: 1260px;
	height: 100px;
	margin: auto;
	//margin-top: -101px;
	//padding: 5px 0;
	text-align: center;
	//position: fixed;
	background-color: #fff;
	z-index: 1000;

	&.sticky {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 100;
		height: 60px;
		padding-top: 10px;
		border-bottom: 1px solid #000;
	}

	.cont{
		max-width: 1260px;
		margin: auto;

		#selSecc{
			display: inline-block;
			width: 17%;
		}
		
		.logo{
			width: 10%;
			display: inline-block;
			vertical-align: middle;
			text-align: left;

			img{
				width: 80px;		
			}
		}

		p{
			width: 5%;
			display: inline-block;
			font-weight: 100;
			font-size: 15px;
			text-align: right;
			color: #000;
			margin: auto;
		}

		ul{
			height: 30px;
			display: inline-block;
			text-align: center;
			margin: auto;
			padding: 0;
			vertical-align: middle;
		}
		
		.menu{
			display: inline-block;
			width: 53%;

			ul#botones{
				width: 100%;
				
				li.bot{
					width: calc(25% - 10px);
					height: 30px;
					font-weight: 400;
					font-size: 15px;
					//color: #438ec4;
					//color: #000;
					list-style: none;
					display: inline-block;
					//padding: 7px 0;
					background-color: #fff;
					margin: auto;
					text-align: center;
					cursor: pointer;
					vertical-align: middle;

					a{
						color: #000;
						height: 20px;
						text-decoration: none;
						line-height: 30px;

						&:link, &:visited{
							color: #000;
						}

						&:hover{
							color: #438ec4;
						}
					}

					&.active{
						color: #fff;
						background-color: #438ec4;

						a{
							color: #fff;

							&:link, &:visited{
								color: #fff;
							}

							&:hover{
								color: #fff;
							}
						}
					}

					&#institucional{
						#menuInsti{
							width: 100%;
							max-width: 1260px;
							display: block;
							position: relative;
							margin: auto;

							ul#botonesMenuInsti{
								width: 100%;
								position: absolute;
								top: 0px;
								left: 0px;

								li.bot{
									width: 100%;
									height: 30px;
									font-weight: 400;
									font-size: 15px;
									line-height: 30px;
									list-style: none;
									display: inline-block;
									background-color: #fff;
									margin: auto;
									text-align: center;
									cursor: pointer;
									vertical-align: middle;

									a{
										color: #000;
										height: 20px;
										text-decoration: none;
										line-height: 30px;

										&:link, &:visited{
											color: #000;
										}

										&:hover{
											color: #438ec4;
										}
									}

									&.active{
										color: #fff;
										background-color: #438ec4;

										a{
											color: #fff;

											&:link, &:visited{
												color: #fff;
											}

											&:hover{
												color: #fff;
											}
										}
									}
								}
							}
						}
					}
				}	
			}
		}

		// #hambur, #cruz{
		// 	display:none;
		// }

		#redes{
			width: 15%;
			display: inline-block;
			vertical-align: middle;

			ul{
				width: 100%;
				text-align: right;

				li.red{
					margin-left: 5px;
					display: inline-block;

					.fac, .twi{
						width: 40px;
						height: 30px;
						background-image: url('../img/red.svg');
						display: inline-block;
						vertical-align: middle;
					}

					.fac{
						background-position: top left;
						
						&:hover{
							background-position: bottom left;
						}
					}

					.twi{
						background-position: top right;
						
						&:hover{
							background-position: bottom right;
						}
					}
					
				}
			}
		}
	}

	
}

.container{

	max-width: 1260px;

	#tree{
		width: 91%;
	    max-width: 1260px;
	    padding: 10px 20px;
	    font-size: 12px;
	    margin: 20px auto;
	    span{
	    	margin: auto 10px;
	    }
	}


	#conteNoti #contenedor, #conteNoti #destacados, #conteManual, #conteCapaci, #destaCapac, #notiCapac{

		width: 100%;
		max-width: 1260px;
		margin: auto;
		margin-top: 50px;
		transition: all .5s ease-in;

		.noti, .capac{

			width: 46%;
			margin: 30px 2%;
			padding-bottom: 25px;
			display: inline-block;
			vertical-align: top;
			border-bottom: 1px solid #dadada;

			&.destacado{
				width: 100%;
				display: block;
				margin: auto;
			}

			&.destacaChico{
				border: 1px solid #000;
			}

			h2.titu{
				font-size: 28px;
				color: #438ec4;
				margin: 20px auto;
				text-align: left;
				padding: 0;
			}

			h3.baja{
				font-size: 18px;
				color: #999;
				margin: 0 auto 20px;
				text-align: left;
				padding: 0;
			}

			.foto{
				width: 99%;
				margin: auto;
				height: 250px;
				border: 1px solid #dadada;
				background-size: 105%;
			}

			.info{
				width: 95%;
				height: 30px;
				margin: 10px auto;
				position: relative;

				p{
					font-weight: 400;
					font-size: 15px;
					line-height: 29px;
					display: inline-block;
					position: absolute;
					
					&.fecha{
						height: 30px;
						left: 0;
						color: #aaa;
					}

					&.etiqueta{
						width: 150px;
						height: 30px;
						text-align: center;
						text-transform: uppercase;
						color: #000;
						right: 0;
						border: 1px solid #000;
						cursor: pointer;
					}
				}

			}

			.notiTex, .capacTex{
				width: 95%;
				margin: 20px auto;
				text-align: left;

				.tex{
					width: 100%;
					font-weight: 400;
					line-height: 22px;
				    font-size: 16px;
					color: #000;

					&.firma{
						color: #aaa;
					}
				}
			}
			
		}
		h2{
			color: #000;
			text-align: left;

		}

		.capac{
			width: calc(30% - 5px);
			margin: 30px 1%;

			.foto{
				background-size: 135%;
			}

			&.destacado{
				margin: 50px auto;

				h2.titu{
					font-size: 28px;
					line-height: 32px;
				}

				.foto{
					width: 46%;
					margin: auto 1%;
					height: 500px;
					background-size: 100%;
					border: none;
					background-repeat: no-repeat;
					background-position: center top;
					display: inline-block;
					vertical-align: top;
				}
				.capacTex{
					width: 46%;
					margin: auto 1%;
					text-align: left;
					display: inline-block;
					vertical-align: top;
				}
			}

			h2.titu{
				color: #438ec4;
				min-height: 80px;
				margin-bottom: 0;
				font-size: 25px;
				line-height: 27px;
			}

			p.lugar{
				margin-top: 0;
			}

			.etiqCapac{
				width: 120px;
				height: 25px;
			    font-size: 13px;
			    line-height: 25px;
				text-align: center;
				text-transform: uppercase;
				color: #a9a9a9;
				border: 1px solid #a9a9a9;
			}

			.infoCapac{

				p.lugar, p.fechaCapac{
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					text-align: left;
					margin: auto;
					text-transform: uppercase;
				}

				p.fechaCapac{
					margin-bottom: 15px;
				}
				
			}
			
			.foto{
				background-position: center;
			}

		}

		
	}
	#destacados, #conteManual, #destaCapac, #notiCapac{
		width: 95%;
		transition: all .5s ease-in;
		text-align: center;

		.noti{
			.foto, h3.baja, h2.titu{
				width: 95%;
			}
		}
	}

	#conteManual{
		display: none;
		width: 95%;
		//height: 1000px;
		background-color: #fff;
		transition: all .5s ease-in;

		iframe{
			margin: 50px 8%;
		}

		img{
			width: 80%;
			margin: 50px 8%;
		}
	}

	#conteCapaci{
		width: 95%;
		display: none;
		transition: all .5s ease-in;
	}
	#conteInsti{
		display: none;
		height: 1000px;
		background-color: blue;
		transition: all .5s ease-in;
	}
}

.remarca, span.remarca{
	font-weight: 600;
}

footer{
	width: 100%;
	height: 120px;
	background-color: #438ec4;
	text-align: center;
	margin: 50px auto 0;

	.links{
		max-width: 1260px;
		margin: auto;

		a.botFoo{
			font-size: 12px;
			line-height: 24px;
			color: #fff;
			text-decoration: none;
			border-bottom: 1px solid #438ec4;
			display: inline-block;
			margin: 10px 2%;
			width: calc(10% - 5px);

			&:hover{
				border-bottom: 1px solid #fff;
			}
		}
	}
}


#sindica{
	color: red;
	background-color: #fff;
	border: 1px solid red;
	
	&:active{
		color: #fff;
		background-color: red;
	}
}


#afilia{
	color: blue;
	background-color: #fff;
	border: 1px solid blue;
	
	&:active{
		color: #fff;
		background-color: blue;
	}
}


#afiliad{
	color: green;
	background-color: #fff;
	border: 1px solid green;
	
	&:active{
		color: #fff;
		background-color: green;
	}
}


#histor{
	color: yellow;
	background-color: #fff;
	border: 1px solid yellow;
	
	&:active{
		color: #fff;
		background-color: yellow;
	}
}


#notici{
	color: orange;
	background-color: #fff;
	border: 1px solid orange;
	
	&:active{
		color: #fff;
		background-color: orange;
	}
}

#capacitaci{
	color: pink;
	background-color: #fff;
	border: 1px solid pink;
	
	&:active{
		color: #fff;
		background-color: pink;
	}
}


#gremial{
	color: brown;
	background-color: #fff;
	border: 1px solid brown;
	
	&:active{
		color: #fff;
		background-color: brown;
	}
}

#mesas{
	color: green;
	background-color: #fff;
	border: 1px solid green;
	
	&:active{
		color: #fff;
		background-color: green;
	}
}

#delegacion{
	color: grey;
	background-color: #fff;
	border: 1px solid grey;
	
	&:active{
		color: #fff;
		background-color: grey;
	}
}


#ergonom{
	color: light-blue;
	background-color: #fff;
	border: 1px solid light-blue;
	
	&:active{
		color: #fff;
		background-color: light-blue;
	}
}


#segurid{
	color: blue;
	background-color: #fff;
	border: 1px solid blue;
	
	&:active{
		color: #fff;
		background-color: blue;
	}
}



.texD{
	width: 50%;
}



.fotoD{
	width: 50%;
	margin: auto;
}
