@media (max-width: 770px) { //ipad

	nav#stickyNav{
		.cont{

			#selSecc{
				width: 19%;
			}
			.logo{
				width: 13%;
			}
			ul#botones{
				width: 45%;
    			text-align: left;
				li.bot{
					width: calc(32% - 5px);
					font-size: 14px;
				}
			}

			#redes{
				width: 12%;

				ul{
					width: 90%;
					li.red{
						.fac, .twi{
							width: 30px;
						}
						.fac{
							background-position: -5px 0px;
							
							&:hover{
								background-position: -5px 30px;
							}
						}

						.twi{
							background-position: -45px 0px;
							
							&:hover{
								background-position: -45px 30px;
							}
						}
					}
				}
			}
		}
	}
}